<% @markdown.pass = "" %>
<%= form_for(@markdown, :html => {:enctype => "multipart/form-data"}) do |f| %>
  <% if @markdown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@markdown.errors.count, "error") %> prohibited this markdown from being saved:</h2>

      <ul>
      <% @markdown.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :key %>
  <%= f.text_area :data %>
  OR
  <input name="data" type="file" />
  <%= f.text_field :pass, :placeholder => 'password for edit' %>
  <%= f.submit 'upload markdown' %>
<% end %>
